[Unit]
Description=Check whether stream archival is due

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=6h
AccuracySec=1h
Unit=stream-archiver.service

[Install]
WantedBy=timers.target
